
@font-face {
  font-family : 'BebasNeue';
  font-weight : bold;
  font-style: normal;
  src : url(../fonts/BebasNeue-Bold.otf);
}
.statistic {
  padding:18px;
}
body, p {
  font-family: "Open Sans";
  line-height: 1.62;
  font-size: 14px;
}
ul, li {
  margin-top: 18px;
}
.statistic > .label {
  margin-bottom: 24px;
}
.ui.list .list>.item .description, .ui.list>.item .description{
  margin-top:6px;
}
.footer p {
  color: #666;
  font-size: 12px;
}
.ui.button {
  font-family: "Open Sans"
}

.super-spaced{
  margin-top: 80px;
  margin-bottom: 80px;
}
.spaced {
  margin-top: 52px;
  padding:36px;
}

.ui.header, h1, h2, h3, h4, h5 {
  font-family: "BebasNeue";
}
.calm {
  font-family: "Open Sans"
}
h2.ui.header {
  font-size: 2.1rem;
  margin-bottom:52px;
}
h3.ui.header{
  font-size: 1.8rem;
}
.ui.header .sub.header {
  font-size:14px !important;
  line-height: 1.6;
  margin-top:18px;
  font-family: "Open Sans"
}
.hidden.menu {
  display: none;
}

.masthead {
  background: url(/img/splash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1200px;
}

.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  padding-top: 420px;
  margin-bottom: 0em;
  font-size: 5em;
  font-weight: normal;
  text-shadow: 2px 3px 4px #000;
}
.masthead h2 {
  margin-top:0px;
  font-size: 1.57em;
  font-family: "Open Sans";
  font-weight: lighter;
  color:#fff;
  text-shadow: 2px 1px 2px #000;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}
