---
layout: page
title: "The Imposter's Handbook - A Primer For The Self-taught Programmer"
---
<script>
location.href="http://bigmachine.io/products/the-imposters-handbook";
// var host = "impostershandbook.com";
//   if ((host == window.location.host) && (window.location.protocol != 'https:')) {
//   window.location = window.location.toString().replace(/^http:/, "https:");
// }
</script>
<div class="ui masthead ">
  <div class="ui center aligned container">
    <div class="ui text container">
        <h1 class="ui inverted header">The Imposter's Handbook</h1>
        <h2 style="margin-bottom:36px">Essential skills and concepts for the self-taught programmer.</h2>
        <a class="ui massive inverted primary button"  style="background-color: #000" href="https://gum.co/impostershandbook" data-gumroad-single-product="true">Buy Now (ebook): $30</a>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="ui vertical stripe segment" >
    <div class="ui text container">
      <h3 class="ui header">Don't have a CS Degree? Neither do I. That's Why I wrote this book.</h3>
      <p>
        For the longest time I would remain silent when discussions with my peers would veer toward theoretical topics like <i>P vs. NP</i>, <i>Lambda Calculus</i> or <i>bubble sort vs. merge sort</i>. Big-O notation? I... uhh...
      </p>
      <p>
        I decided to change all of this a year ago. I sat down and looked up <a href="http://cs.stanford.edu/degrees/undergrad/Considering.shtml" target=_blank>all of the topics that a typical CS degree covers</a> and then I dove in. Half way through, I decided to write a book about what I was learning.
      </p>
      <p>
        That book is <i>The Imposter's Handbook</i>: a compendium of my year-long quest to fill the holes in my CS knowledge. Not a replacement for a degree, not an authoritative source for any of the concepts presented. <b>Just a concise summary of the things you should know</b>.
      </p>
    </div>
  </div>
</div>

<div class="ui center aligned container">
  <div class="ui stackable inverted divided equal height stackable grid">
    <div class="eight wide center aligned column">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This book from <a href="https://twitter.com/robconery">@robconery</a> looks great. Looking forward to getting a copy of it when it&#39;s available. <a href="https://t.co/3DciS5MeFD">https://t.co/3DciS5MeFD</a></p>&mdash; Casey Watson (@_caseywatson) <a href="https://twitter.com/_caseywatson/status/753990129597886465">July 15, 2016</a></blockquote>


    </div>
    <div class="eight wide center aligned column">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/robconery">@robconery</a> LOVED your imposters handbook, so much what i’m struggling with. in same vein, this by <a href="https://twitter.com/ericqweinstein">@ericqweinstein</a> <a href="https://t.co/zHv9P7m7S6">https://t.co/zHv9P7m7S6</a></p>&mdash; Linda Liukas (@lindaliukas) <a href="https://twitter.com/lindaliukas/status/751041316130328576">July 7, 2016</a></blockquote>

    </div>
    <div class="eight wide center aligned column">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Cannot wait to read this. Will be a great help for the future.<a href="https://t.co/l8qEIYdEy3">https://t.co/l8qEIYdEy3</a><br><br>HT <a href="https://twitter.com/robconery">@robconery</a></p>&mdash; JimBobSquarePants (@James_M_South) <a href="https://twitter.com/James_M_South/status/750902088180260864">July 7, 2016</a></blockquote>

    </div>
    <div class="eight wide center aligned column">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Absolutely Brilliant idea <a href="https://twitter.com/robconery">@robconery</a> &quot;Writing a Book: The Imposter&#39;s Handbook&quot; <a href="https://t.co/DI39fvH1yW">https://t.co/DI39fvH1yW</a></p>&mdash; Bishoy Demian (@BishoyDemian) <a href="https://twitter.com/BishoyDemian/status/750892598881951745">July 7, 2016</a></blockquote>
    </div>
    <div class="eight wide center aligned column">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This books is an excellent resource even if you have a CS degree. I plant use it to relearn some forgotten topics. <a href="https://t.co/03PkKQlc9p">https://t.co/03PkKQlc9p</a></p>&mdash; Matt Hensley (@matthensleyio) <a href="https://twitter.com/matthensleyio/status/764491484808646656">August 13, 2016</a></blockquote>
    </div>
    <div class="eight wide center aligned column">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Been looking for a book like this for years <a href="https://t.co/8SkLuT9xDs">https://t.co/8SkLuT9xDs</a></p>&mdash; Chris Francisco (@cfranciscodev) <a href="https://twitter.com/cfranciscodev/status/764289328621039616">August 13, 2016</a></blockquote>
    </div>
  </div>
</div>
{% include buy_now.html %}
<div class="ui container">
  <h2 class="ui horizontal divider header" style="margin-top:52px">
    <img src="/img/icons/code.png" alt="" class="ui mini image">
    What You'll Get
  </h2>
  <div class="ui  container" style="margin-bottom:52px">
    <img src="/img/screenshots/black-book.jpg" alt="" class="ui image">
  </div>
  <div class="ui container statistics">
    <div class="ui three column stackable grid">
      {% for stat in site.data.stats %}
      {% include stat.html icon=stat.icon number=stat.number label=stat.label description=stat.description %}
      {%endfor%}

    </div>
  </div>
  <div class="ui  container" style="margin-bottom:52px;margin-top:52px;">
    <img src="/img/screenshots/pnp.jpg" alt="" class="ui image" style="border:1px solid #e5e5e5;">
  </div>
</div>
{% include buy_now.html %}

<div class="ui container">
  <h2 class="ui horizontal divider header" style="margin-top:52px">
    <img src="/img/icons/list-ol.png" alt="" class="ui mini image">
    What's In The Book
  </h2>

  <div class="ui divided items chapters">

    {% for chapter in site.data.chapters %}
    {% include chapter_list_item.html icon=chapter.icon title=chapter.title description=chapter.description %}
    {%endfor%}

  </div>
  <div class="ui  container" style="margin-bottom:52px;margin-top:52px;">
    <img src="/img/screenshots/combinators.jpg" alt="" class="ui image" style="border:1px solid #e5e5e5;">
  </div>
</div>
{% include buy_now.html %}

<div class="ui center aligned container">
  <div class="ui stackable inverted divided equal height stackable grid">
    <div class="eight wide center aligned column">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Shut up and take my money <a href="https://t.co/hg3oWG26Zu">https://t.co/hg3oWG26Zu</a></p>&mdash; Gregory A Brewer (@gbrewer) <a href="https://twitter.com/gbrewer/status/750514860086136832">July 6, 2016</a></blockquote>


    </div>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Shut up and take my money <a href="https://t.co/jYHhPGVSr8">https://t.co/jYHhPGVSr8</a></p>&mdash; David Neal (@reverentgeek) <a href="https://twitter.com/reverentgeek/status/750141897813917696">July 5, 2016</a></blockquote>
  </div>
</div>

<div class="ui container spaced">
  <h2 class="ui horizontal divider header" >
    <img src="/img/icons/question-circle.png" alt="" class="ui mini image">
    Sounds Interesting But...
  </h2>
</div>

<div class="ui three column center aligned stackable grid spaced">
  {% for faq in site.data.faq %}
  <div class="column" style="padding:24px">
    <h3 class="header calm">{{faq.question}}</h3>
    <p>{{faq.answer}}</p>
  </div>
  {% endfor %}
</div>
{% include buy_now.html %}

<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">

<div class="ui container spaced">
  <h2 class="ui horizontal divider header" >
    <img src="/img/icons/question-circle.png" alt="" class="ui mini image">
    Stay Up To Date
  </h2>

  <div id="mc_embed_signup" style="padding:0;margin-top:32px;">
  <form action="//alloverthemap.us9.list-manage.com/subscribe/post?u=e8e4f10ec91debe118bae884f&amp;id=b647bb4ad2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding:0">
      <div id="mc_embed_signup_scroll" style="padding:0">
    <h2>Want to know when/what? Join the mailing list:</h2>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e8e4f10ec91debe118bae884f_b647bb4ad2" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
  </div>
</div>

<script src="https://gumroad.com/js/gumroad.js"></script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85773-11', 'auto');
  ga('send', 'pageview');

</script>
