<div class="ui text container secondary segment center aligned super-spaced" style="padding:24px;margin-top:80px;margin-bottom:80px">

        <a class="ui large inverted primary button"  style="background-color: #000" href="https://gum.co/impostershandbook" data-gumroad-single-product="true">Buy Now  <i class="download icon"></i></a>

</div>
