<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="five wide column">
        <h4 class="ui inverted header">About</h4>
        <p>
          My name is Rob Conery and I help developers of all sorts learn what’s new with technology. I have been working in the technology field full time since 1998 as a DBA and then a web developer. My original focus was the Microsoft ASP.NET stack, building tools like Subsonic and the first Micro-ORM: Massive. In addition I co-founded Tekpub.com (acquired by Pluralsight) with James Avery and co-host This Developer’s Life with my friend, Scott Hanselman. I am currently writing books and doing contract work, and build open source things as I can.
        </p>
        <p>
          I wrote this book because I love writing. It's as simple as that. Oh - and I was tired of feeling dumb when conversations turned to topics that I should know, but don't.
        </p>
      </div>
      <div class="five wide center aligned column">
        <h4 class="ui inverted header">Contact Me</h4>
        <div class="ui massive horizontal inverted list">
          <div class="item">
            <a href="http://twitter.com/robconery" target=_blank title="Our twitter account">
            <i class="large blue twitter middle aligned icon"></i></a>
          </div>
          <div class="item">
            <a href="https://github.com/imposters-handbook" target=_blank title="Our Github Repo">
            <i class="large gray github middle aligned icon"></i></a>
          </div>
          <div class="item">
            <a href="mailto:rob@bigmachine.io" target=_blank title="Rob's Email">
            <i class="large envelope middle aligned icon"></i></a>

          </div>
        </div>
      </div>
      <div class="five wide column">
        <h4 class="ui inverted header">Terms</h4>
        <p>
          We're a small publisher and ask nicely that you not share what you buy here. Or, if you do, perhaps suggest people support us if they like what they see.
        </p>
        <p>
          We're perfectly aware that <i>if you put it online, expect it to be shared</i>: that's the way the internet works. However we wouldn't be able to create this kind of content if we didn't get paid: <i>that's the way reality works</i>. And we dig reality! We leave it when we can, but occasionally we need to eat, too.
        </p>
        <h4>
          If you ever have a problem, <a href="mailto:rob@bigmachine.io">just let us know</a>.
        </h4>
        <p>We stand behind our work 100%. If you have a problem, we'll refund you immediately.</p>
      </div>
    </div>
  </div>
</div>
