<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="elixir mars redfour">
  <meta name="author" content="Rob Conery">

  <link rel="icon" type="image/png" sizes="192x192"  href="/img/icon/icon_192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icon/icon_32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/icon/icon_96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icon/icon_16x16.png">
  <link rel='shortcut icon' href='/img/icon/favicon.ico' type='image/x-icon'/ >

  <link rel="stylesheet" href="{{ "/css/semantic.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="/js/semantic.min.js"></script>

  <link rel="canonical" href="https://impostershandbook.com" />

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,300' rel='stylesheet' type='text/css'>
</head>
