<div class="column">
  <div class="statistic">
    <div class="value"  style="color:#ccc">
      {{include.number}} <i class="{{include.icon}} icon"></i>
    </div>
    <div class="label">
      {{include.label}}
    </div>
    <div class="ui center aligned container">
      <p>
      {{ include.description }}
      </p>
    </div>
  </div>
</div>
